{
  "env": {
    "es2020": true
  },
  "extends": "@rocketseat/eslint-config/react",
  "ignorePatterns": ["dist"],
  "plugins": ["react-refresh"],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],

    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": true
      }
    ],

    "no-useless-constructor": "off",

    "@typescript-eslint/ban-ts-comment": "off"
  }
}
